.navigation-link {
  text-decoration: none;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  color: #000;
}

.navigation-link__image {
  width: 20px;
}

.navigation-link__count_active {
  text-align: center;
  position: absolute;
  border-radius: 50%;
  line-height: 17px;
  width: 17px;
  height: 17px;
  background-color: #000;
  color: #fff;
  top: 0;
  right: 2px;
}
