.catalog {
  display: grid;
  row-gap: 40px;
  grid-template-columns: auto;
  grid-template-rows: 20px auto auto auto;
  padding: 14px 40px 100px;
}

.catalog .breadcrumbs {
  padding: 0;
}

.text {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
}

.text_weight_normal {
  font-weight: 400;
}

.text_weight_medium {
  font-weight: 500;
}

.text_weight_bold {
  font-weight: 700;
}
