.infoblock {
  display: flex;
  flex-direction: column;
  max-width: 896px;
  padding-top: 34px;
}

.infoblock__title {
  margin: 0;
  padding-top: 0;
  font-family: Didact-Gothic, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.167;
}

.infoblock__image {
  display: block;
  width: 336px;
  height: 60px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.infoblock + .infoblock {
  padding-top: 32px;
}
