.profile__text {
  margin: 0;
  padding-top: 20px;
  min-height: 53px;
}

.profile__button {
  margin-top: 44px;
  background-color: #000;
  border: none;
  max-width: 250px;
  padding: 15px;
  color: #fff;
  font-size: 15px;
}
