.profile__row {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.profile__subtitle {
  margin: 0;
  font-family: Didact-Gothic;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #21211b;
}

.profile__button_type_edit {
  cursor: pointer;
  font-family: 'Mulish';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  color: #d8a566;
  background-color: transparent;
  border: none;
}

.profile__data-content {
  display: flex;
  align-items: flex-start;
  gap: 148px;
}

.profile__form {
  margin-top: 20px;
  display: flex;
  width: 432px;
  flex-direction: column;
}

.profile__field {
  display: flex;
  gap: 32px;
}

.profile__label {
  min-width: 84px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #a5a38f;
}

.profile__input {
  width: 100%;
  border: none;
  padding: 0;
  font-family: 'Mulish';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
  color: #403f32;
}

.profile__input_type_adress {
  height: 57px;
  resize: none;
}

.profile__input_active {
  padding: 4px 8px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #e9d7c1;
}

.profile__input_active:focus {
  outline: none;
}

.profile__input_type_adress-active {
  padding: 12px 18px;
  min-height: 72px;
}

.profile__error {
  height: 20px;
}

.profile__button_type_submit {
  cursor: pointer;
  padding: 8px 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  font-family: 'Mulish';
  color: #fbfaeb;
  background: #a49e4a;
  border: none;
  border-radius: 12px;
  max-width: 268px;
}

.profile__registration-data {
  margin-top: -20px;
  padding: 20px;
  border-radius: 12px;
  box-sizing: border-box;
  border: 1px solid #e9d7c1;
  width: 316px;
}

.profile__registration-content {
  width: 208px;
  margin: 0 auto;
}

.profile___registration-subtitle {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
  font-family: Didact-Gothic;
  color: #21211b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.profile__text {
  margin: 0;
  color: #a5a38f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.profile__span {
  color: #403f32;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 20px;
}

.profile__button_type_password {
  cursor: pointer;
  margin-left: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: 'Mulish';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  color: #a49e4a;
}

.profile__button_type_logout {
  cursor: pointer;
  margin-top: 20px;
  border: 1px solid #b74128;
  background-color: transparent;
  border-radius: 12px;
  max-width: 146px;
  padding: 11px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #b74128;
  transition: all 0.5s ease;
}

.profile__button_type_logout:hover {
  border: 1px solid #c64126;
  color: #c64126;
}

.profile__button_inactive {
  display: none;
}

.profile__orders-content {
  margin-top: 18px;
}

.profile__accordion {
  border-bottom: 1px solid #e9d7c1;
}

.profile__main-info {
  padding: 31px 0 21px;
  display: grid;
  align-items: center;
  grid-template-columns: 4.8fr 1fr 1fr 1fr 1.14fr;
}

.profile__order-title {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #21211b;
}

.profile__order-status {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #21211b;
}

.profile__order-date {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #21211b;
  justify-self: flex-end;
}

.prodile__order-summary {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: #21211b;
  justify-self: flex-end;
}

.profile__image_type_chevron {
  justify-self: flex-end;
}

.profile__details {
  max-height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 0.7s ease;
}

.profile__details_clicked {
  padding: 0 0 8px;
  max-height: 100px;
}

.profile__detail-item {
  max-width: 780px;
  display: grid;
  grid-template-columns: 548px 84px 84px;
  gap: 32px;
}

.profile__product-name {
  margin: 0;
  margin-left: 8px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  max-width: 432px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #403f32;
}

.profile__product_quantity {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #403f32;
  justify-self: flex-end;
}

.profile__product-cost {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #403f32;
  justify-self: flex-end;
}

.profile__info {
  padding-top: 40px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #a5a38f;
}
