.recipient {
  display: flex;
  width: 690px;
  flex-basis: auto;
  flex-direction: column;
  border-radius: 6px;
  background: var(--White, #fff);
  margin: 0px 0 0 0px;
}

.recipient__deliveryadress {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.recipient__title {
  color: var(--black-900, #121212);
  font-feature-settings:
    'clig' off,
    'liga' off;
  /* Button/Large */
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 4px 0 20px 0px;
}

.recipient__recipient {
  display: flex;
  flex-direction: column;
  margin: 0px 0 28px 0;
}

.recipient__form {
  display: flex;
  flex-direction: column;
  max-width: 664px;
  margin: 0 24px 0 0px;
}

.recipient__field {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 32px;
  max-width: 664px;
  margin: 0px 0 -20px 0;
}

.recipient__input {
  width: -webkit-fill-available;
  height: 68px;
  display: flex;
  align-self: stretch;
  border-radius: 6px;
  border: 1px solid var(--black-300, #cbcbcb);
  background: var(--White, #fff);
  margin: 0px 0 24px 0;
  padding: 0 0 0 16px;
}

.recipient__input:last-child {
  height: 92px;
}

.recipient__comment {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
} */
