.privacy-policy {
  font-family: 'Mulish', Arial, sans-serif;
  max-width: 780px;
}

.privacy-policy ol {
  list-style: none;
  counter-reset: li;
  padding: 0;
  /* Надо создать отдельный класс для ol большой вложенности и указать это обнуление там */
}

.privacy-policy li:before {
  counter-increment: li;
  content: counters(li, '.') '. ';
}

.privacy-policy__main-list {
  padding: 0;
  margin: 0;
}

.privacy-policy__main-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 10px;
}

.privacy-policy__items {
  margin-top: 10px;
  padding: 0;
}

.privacy-policy__item {
  font-size: 10px;
  font-weight: 400;
  line-height: 2;
}
