.delivery-title {
  margin: 0;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.208;
  letter-spacing: -1px;
}

.delivery__container {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 2 * 40px);
  padding-top: 46px;
  padding-bottom: 52px;
}

.delivery__termsofuse-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 896px;
}

.delivery__navpanel-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 407px;
  width: 100%;
  margin-right: 32px;
}

.delivery__items {
  margin: 0;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.6px;
}

.delivery__item {
}

.delivery__description {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 2;
  letter-spacing: -0.6px;
}
