.promo {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 40px;
}

.promo-brands {
  display: flex;
  background: rgba(210, 214, 192, 1);
}

.promo-brands__photo {
  width: 50%;
  height: 360px;
  object-fit: cover;
}

.promo-brands__container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: calc(50% - 60px);
}

.promo-brands__container-title {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

.promo-brands__container-slogan {
  margin: 0;
  padding-top: 15px;
  font-size: 35px;
  font-weight: 500;
  line-height: 1;
}

.promo-brands__container-description {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  font-weight: 300;
}

.promo-brands__container-button {
  margin-top: 20px;
  padding: 8px 0 6px 0;
  box-sizing: border-box;
  width: 170px;
  height: 32px;
  border-radius: 10px;
  background: rgba(164, 161, 117, 1);
  color: rgba(255, 255, 255, 1);
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
