/* product-card */

.product-card {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-width: 400px;
  min-width: 200px;
  flex-grow: 1;
  color: #121212;
  box-sizing: border-box;
}

.product-card_style_catalog {
  max-width: 200px;
}

/* Ниже костыль, без которого невозможно проставить оступы
между карточками при использовании библиотеки react-slick */

.slick-slide > div {
  margin: 0 16px;
}

.slick-list {
  margin: 0 -16px;
}

/* product-card__card-container */

/* .product-card__card-container {
  position: relative;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
} */

.product-card__card-container {
  position: relative;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.product-card__card-container_style_novelty {
  min-height: 380px;
}

.product-card__card-container_style_popular {
  min-height: 328px;
}

.product-card__card-container_style_catalog {
  min-height: 200px;
}

/* product-card__like-button */

.product-card__like-button {
  width: 24px;
  height: 24px;
  padding: 0;
  align-self: end;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s linear;
  background: #fff url('../../images/like-icon.svg') 50% / auto auto no-repeat;
}

.product-card__like-button:hover {
  opacity: 0.9;
}

.product-card__like-button_liked {
  background: #fff url('../../images/liked-icon.svg') 50% / auto auto no-repeat;
}

/* product-card__image */

.product-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* product-card__info-container */

.product-card__info-container {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.product-card__info-container_style_main {
  row-gap: 4px;
}

/* product-card__add-to-cart-button*/

.product-card__add-to-cart-button {
  border: 0;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.product-card__add-to-cart-button:hover {
  opacity: 0.9;
}

.product-card__add-to-cart-button_style_main {
  width: 100%;
  padding: 9px 24px;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.04);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.57;
}

.product-card__add-to-cart-button_style_catalog {
  width: 24px;
  height: 24px;
  padding: 0;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  align-self: end;
  background: transparent url('../../images/shopping-cart.svg') 50%/100%
    no-repeat;
}

/* product-card__product-item */

.product-card__product-item {
  /* font-family: Inter; */
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  grid-column: 1 / 2;
}

/* product-card__product-name */

.product-card__product-name {
  line-height: 1.75;
}

.product-card__product-name_style_catalog {
  line-height: 1.25;
}

/* product-card__product-price */

.product-card__product-price {
  font-weight: 600;
}

.product-card__product-price_style_main {
  font-size: 14px;
  line-height: 1.57;
}

.product-card__product-price_style_catalog {
  font-size: 20px;
  line-height: 1;
  margin-top: 25px;
}
