.popup {
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.7);
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0.5s ease,
    opacity 0.5s ease;
}

.popup_active {
  visibility: visible;
  opacity: 1;
}

.popup__block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.popup__text {
  margin: 0;
  text-align: center;
  color: grey;
  font-size: 14px;
  padding-bottom: 10px;
}

.popup__title {
  margin: 0;
  margin-bottom: 10px;
}

.popup__toggle {
  cursor: pointer;
  font-size: 12px;
  color: grey;
  margin: 0 auto 10px;
}

.popup__link {
  text-decoration: none;
  font-size: 12px;
  color: grey;
  margin: 0 auto 10px;
}

.popup__button_type_close {
  background-image: url(../../images/close.svg);
  width: 20px;
  height: 20px;
}

.popup__form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.popup__input {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
}

.popup__input:focus {
  outline: 0;
  border: 2px solid gray;
}

.popup__information {
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  font-size: 12px;
  color: grey;
}

.popup__button {
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 0;
}

.popup__button_type_submit {
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 20px;
  margin-top: 5px;
  min-width: 100%;
  height: 40px;
}

.popup__button_type_submit:disabled {
  opacity: 0.6;
  cursor: inherit;
}

.popup__buttons {
  display: flex;
  justify-content: space-around;
}

.popup__button_type_logout {
  min-width: 150px;
  height: 40px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 0;
  margin: 0;
}

.popup__button_type_save {
  min-width: 150px;
  height: 40px;
  border: none;
  background-color: grey;
  color: #000;
  float: left;
  border-radius: 0;
  margin: 0;
}

.popup__button_type_close {
  border: none;
  background-color: transparent;
  background-image: url('../../images/close.svg');
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
}

.popup__error {
  color: rgba(83, 105, 65, 1);
  font-size: 11px;
  font-weight: 400;
  line-height: 0.9;
  min-height: 25px;
  padding-top: 5px;
}

.popup__server-error {
  display: flex;
  justify-content: center;
  color: rgba(83, 105, 65, 1);
  font-size: 12px;
  font-weight: 600;
  min-height: 25px;
}
