/* shopping-cart */

.shopping-cart {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 25px;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.shopping-cart__title {
  margin: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.16;
}

.shopping-cart__products-block {
  display: flex;
  flex-direction: column;
}

.shopping-cart__products-list {
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 0;
}

/* shopping-card__product */

.shopping-cart__product {
  display: grid;
  grid-template-columns: min-content 2fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  align-items: center;
}

.shopping-cart__product-image {
  grid-column: 1/2;
  grid-row: 1/5;
  width: 84px;
  height: 100px;
  margin: 0 32px 0 0;
}

.shopping-cart__product-brand {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0 0 4px 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
}

.shopping-cart__product-name {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0 0 12px 0;
  font-size: 16px;
  line-height: 1.5;
}

.shopping-cart__product-details {
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 0 0 12px 0;
  font-size: 12px;
  line-height: 1.66;
}

.shopping-cart__product-button-section {
  grid-column: 2/3;
  grid-row: 4/5;
  display: flex;
  column-gap: 28px;
}

.shopping-cart__button {
  position: relative;
  font-size: 14px;
  line-height: 1.71;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.shopping-cart__button:hover {
  opacity: 0.7;
}

.shopping-cart__button::before,
.shopping-cart__button::after,
.shopping-cart__button_style_reset::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: -1px;
}

.shopping-cart__button_style_reset {
  align-self: flex-end;
  margin-bottom: 40px;
  padding-right: 28px;
}

.shopping-cart__button_style_delete,
.shopping-cart__button_style_to_favourite {
  padding-left: 28px;
}

.shopping-cart__button_style_delete::before {
  background: url('../../images/trash-icon.svg') 50% / 100% no-repeat;
  left: 0px;
}

.shopping-cart__button_style_to_favourite::before {
  background: url('../../images/like-icon.svg') 50% / 100% no-repeat;
  left: 0px;
}

.shopping-cart__button_style_reset::after {
  background: url('../../images/close-button_theme_pale.svg') 50% / 100%
    no-repeat;
  right: 0px;
}

.shopping-card__product-quantity-switch {
  grid-column: 3/4;
  grid-row: 1/5;
  justify-self: right;
  display: flex;
  align-items: center;
  column-gap: 14px;
  padding: 8px 6px;
  border: 1px solid #cbcbcb;
  border-radius: 4px;
  box-sizing: border-box;
  width: 84px;
}

.shopping-card__product-quantity-switch-counter {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.66;
  margin: 0;
}

.shopping-card__product-quantity-switch-button {
  border: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.shopping-card__product-quantity-switch-button:hover {
  opacity: 0.7;
}

.shopping-card__product-quantity-switch-minus {
  background: url('../../images/minus-icon.svg') 50% / 100% no-repeat;
}

.shopping-card__product-quantity-switch-plus {
  background: url('../../images/plus-icon.svg') 50% / 100% no-repeat;
}

.shopping-card__product-price {
  grid-row: 1/5;
  justify-self: right;
  text-align: right;
  margin: 0;
  font-size: 18px;
  line-height: 1.66;
}

.shopping-card__product-price_style_unit {
  grid-column: 4/5;
}

.shopping-card__product-price_style_sum {
  grid-column: 5/6;
  font-weight: 600;
}

/* shoppitn-cart__total-block */

.shopping-cart__total-block {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-bottom: 40px;
}

.shopping-cart__total-block-title {
  margin: 0;
  text-align: right;
  font-size: 16px;
  line-height: 1.5;
}

.shopping-cart__place-order-button {
  align-self: flex-end;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  background-color: #121212;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.77;
  padding: 10px 0;
  transition: opacity 0.2s linear;
  min-width: 316px;
  flex-grow: 1;
}

.shopping-cart__place-order-button:hover {
  opacity: 0.9;
}
