.yourorder {
  display: flex;
  width: 548px;
  flex-basis: auto;
  flex-direction: column;
  align-items: stretch;
  border-radius: 6px;
  border: 1px solid var(--black-300, #cbcbcb);
  background: var(--White, #fff);
  margin-top: 47px;
  height: fit-content;
}

.yourorder__title {
  color: var(--black-900, #121212);
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 24px 0 0 24px;
}

.yourorder__list {
  padding: 0;
}

.yourorder__total {
  display: flex;
  margin: 0px 24px 0px 24px;
  max-width: 500px;
  height: 32px;
  justify-content: space-between;
}

.yourorder__total-text {
  margin: 0;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 166.667% */
}

.yourorder__total-summ {
  margin: 0;
  color: var(--black-900, #121212);
  text-align: right;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  /* 166.667% */
}

.yourorder__button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  background: var(--bright-logo-color, #a49e4a);
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings:
    'clig' off,
    'liga' off;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  height: 56px;
  cursor: pointer;
  margin: 20px 24px 12px 24px;
}

.yourorder__politic {
  margin: 0px 24px 24px 24px;
  color: #000;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  align-self: center;
  /* 166.667% */
}

.yourorder__politic-text {
  text-decoration: none;
  color: #000;
  font-family: Mulish;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  /* 166.667% */
}
