.empty-cart__text {
  color: #21211b;
  text-align: center;
  margin: 0 auto 40px;
  font-family: Didact-Gothic, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}

.empty-cart__button {
  color: #fbfaeb;
  display: flex;
  width: 199px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #a49e4a;
  text-decoration: none;
  box-sizing: border-box;
  padding: 12px 16px;
  font-family: Mulish, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}
