.empty-cart__text {
  color: #21211b;
  font-family: 'Mulish';
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  margin: 0 auto 40px;
}

.empty-cart__button {
  color: #fbfaeb;
  display: flex;
  width: 199px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #a49e4a;
  text-decoration: none;
  box-sizing: border-box;
  padding: 12px 16px;
}
