.carousel-arrows__custom {
  z-index: 1;
  font-size: 15px;
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -50%);
  cursor: pointer;
  background: #fffef6;
  border-radius: 50%;
}

.carousel-arrows__custom_prev {
  left: 15px;
}

.carousel-arrows__custom_next {
  right: 15px;
}
