@keyframes button-moved-left-to-right {
  from {
    width: calc(100% - 60px);
  }

  to {
    width: calc(100% - ((100% - 20px) / 4));
  }
}

@keyframes counter-moved-left-to-right {
  from {
    width: 20px;
  }

  to {
    width: calc((100% - 20px) / 4.5);
  }
}

@keyframes button-moved-right-to-left {
  from {
    width: calc(100% - ((100% - 20px) / 4));
  }

  to {
    width: 100%;
  }
}

.product-page {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.product-page__sliders {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 20px;
}

.product-page__main-slider {
  width: calc(100% - 20px);
}

.product-page__nav-slider {
  width: calc(100% - 20px);
}

.product-page__main-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.pruduct-page__nav-images {
  display: flex;
  width: 100%;
  gap: 20px;
}

.product-page__nav-image {
  width: calc((100% - 60px) / 3);
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.product-page__nav-image_active {
  border: 2px solid black;
}

.product-page__block {
  position: relative;
}

.product-page__button {
  cursor: pointer;
}

.product-page__button_type_favorite {
  position: absolute;
  top: 35px;
  right: 35px;
  padding: 10px;
  background-image: url('../../images/favorite.svg');
  background-color: #fff;
  background-size: contain;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.product-page__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-page__brand {
  margin: 0;
}

.product-page__name {
  margin: 0;
  font-weight: 500;
}

.product-page__subtitle {
  margin: 0;
  padding-bottom: 10px;
  font-weight: 300;
  border-bottom: 1px solid #000;
}

.product-page__description {
  margin: 0;
  font-weight: 300;
}

.product-page__string {
  display: flex;
}

.product-page__price {
  margin: 0;
  font-size: large;
  font-weight: 700;
  color: #000;
}

.product-page__char {
  color: grey;
  font-size: large;
  font-weight: 900;
}

.product-page__string {
  display: flex;
  position: relative;
  gap: 20px;
  height: 35px;
}

.product-page__counter {
  width: calc((100% - 20px) / 4.5);
  display: flex;
  animation: counter-moved-left-to-right 0.5s ease;
}

.product-page__counter_inactive {
  display: none;
}

.product-page__button_type_plus {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 10px;
  width: calc(100% / 3);
  background-color: grey;
}

.product-page__button_type_minus {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 10px;
  width: calc(100% / 3);
  background-color: grey;
}

.product-page__count {
  display: block;
  line-height: 35px;
  text-align: center;
  width: calc(100% / 3);
  background-color: grey;
}

.product-page__button_type_shopping-cart {
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  line-height: 35px;
  border: none;
}

.product-page__link_type_shopping-cart {
  display: block;
  animation: button-moved-left-to-right 0.5s ease;
  text-align: center;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  line-height: 35px;
  border: none;
  width: calc(100% - ((100% - 20px) / 4));
}

.product-page__button_clicked {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  animation: button-moved-right-to-left 0.5s ease;
}

.product-page__link_type_catalog {
  color: grey;
  text-decoration: none;
}
